* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main{
  margin: 20px;
}


nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #575757;
    color: white;
}

.image-row {
    display: flex;
    justify-content: center; /* center the images */
    gap: 20px; /* space between images */
    margin-top: 30px;
}

.image-row div {
    max-width: 100%;
    height: auto;
    width: auto; /* adjust as needed */
    /*border: 2px solid #ccc;
    border-radius: 8px;*/
}

.plot-container {
  display: flex;
  justify-content: center; /* center the images */
  gap: 20px; /* space between images */
  margin-top: 30px;
  width: 100%;

}

#plotPower{
  max-width: 95%;
}

/* Responsive: stack vertically on small screens */
@media (max-width: 700px) {
    .image-row {
        flex-direction: column;
        align-items: center;
    }
}