[Unit]
Description=Log data as service
After=network.target
Wants=network.target

[Service]
ExecStart=/home/alex/smartPowerStation/venv/bin/python -m /home/alex/smartPowerStation/services.ble_logger
WorkingDirectory=/home/alex
StandardOutput=inherit
StandardError=inherit
Restart=always
User=alex

[Install]
WantedBy=multi-user.target
