[Unit]
Description=Log data as service
After=network.target
Wants=network.target

[Service]
ExecStart=/home/pi/smartPowerStation/venv/bin/python -m services.device_manager
WorkingDirectory=/home/pi/smartPowerStation
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
