[Unit]
Description=Control the system based on specified conditions
After=network.target
Wants=network.target

[Service]
ExecStart=/home/pi/smartPowerStation/venv/bin/python -m services.sps_controls
WorkingDirectory=/home/pi/smartPowerStation
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
