<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Aggregation Viewer</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
  </head>
  <body>


  <nav class="navbar">
    <div class="logo"><a href="/">CVPP</a></div>
    <div class="nav-links" id="navLinks">
      <a href="/community">Community Network</a>
      <a href="/calc">DR Calculator</a>
      <a href="/learn">Learn</a>
      <a href="/profile">Profile</a>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

    <main>
        <p>
          A Community Virtual Power Plant (CVPP) merges the principles of community energy with virtual power plant (VPP) systems. This website serves as platform for research in developing this concept and applying it in an urban US context. It draws on lessons learned from community solar, electricity co-ops, and community energy systems in the US; balcony solar in Germany; and adhoc electricity networks in Pakistan (among other initiatives) to consider how this may work.
        </p>
        <p>
        </p>


    </main>
  

    <script src="/js/btm_animation.js"></script>
  </body>
</html>
